---
const { title, publishDate } = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
  </head>
  <body class="bg-white text-gray-900">
    <main class="max-w-3xl mx-auto px-4 py-8">
      <article class="prose prose-slate dark:prose-invert">
        <h1>{title}</h1>
        <p class="text-sm text-gray-500">{publishDate}</p>
        <slot />
      </article>
    </main>
  </body>
</html>
